/*new CSS File for code practice*/

h1 {font-family: 'Pacifico', cursive; font-size: 60px; color: #f0a30a; padding:5%;}

p{font-family: 'Josefin Sans', sans-serif;margin: 1%; margin-left: 40px; font-size: 20px;}

img {position: absolute; padding: 21%; width: 50%; height: auto;}

a:hover 